.idea
res.csv
/data/PXD004682-Peptide-Intensities.tsv
/data/PXD008934.sdrf.tsv.gz
/data/PXD008934-out.mzTab.gz
/data/PXD008934-out_msstats.csv.gz
/data/PXD008934-out_triqler.tsv.gz
venv
/venv/
/compute-all.sh
/ibaqpy.egg-info/
/ibaqpy_temp/
/tests/PXD003947/IBAQ-QCprofile.pdf
/tests/PXD003947/PXD003947-ibaq-norm.csv
/tests/PXD003947/PXD003947-peptides-norm.csv
/tests/PXD003947/PXD003947-peptides-norm.parquet
